,<h1 class="heading">{{title}}</h1>
<app-user-list></app-user-list>
<app-student-list></app-student-list>
<app-student-user></app-student-user>
<app-sign-in></app-sign-in>
<app-sign-out></app-sign-out>

<button (click)="getName('Deepak',143)">Click Me</button>
<button (click)="getData('hello')">Function Called</button>
<br/>
<br/>
<input type="text" #box (keyup)="getData(box.value)" placeholder="key up"/>
<br/>
<br/>
<input type="text" #box1 (keydown)="getData(box1.value)" placeholder="key down"/>
<br/>
<br/>
<input type="text" #box2 (blur)="getData(box2.value)" placeholder="blur"/>
<br/>
<br/>
<input type="text" #box3 (input)="getData(box3.value)" placeholder="input"/>
<br/>
<br/>
<h1 (mouseover)="getData('over')">deepak kumar</h1>
<br/>
<br/>
<h1 (mouseleave)="getData('leave')">deepak Lohana</h1>


<br/> <br/>

<input type="text" #box4  placeholder="Enter Name" name="name" />
<button (click)="getValue(box4.value)">Click</button>

<p>
  Box value is : {{displayVal}}
</p>

<button (click)="counter('minus')">--</button>
<p>Count : {{count}}</p>
<button (click)="counter('add')">++</button>

<br/> <br/><br/> <br/>
<input type="text" name="user-name" value="{{title}}" disabled="{{disable}}" >
<br/> <br/>
<input type="text" name="user-name" [value]=title [disabled]=disable > <br/> <br/><br/> <br/>